$base-text-color: #000;
$base-font-size: 1rem;
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: 400;

$gutter: 1em;

$white: #fff;
$black: #000;
$red: red;
$base-color: #2b81ba;
$base-hover-color: #0f6299;